* {
	margin: 0;
    padding: 0;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
	width: 400px;
	background-color: Gray;
	margin: 20px auto;
	padding: 20px;

}
h1 {
	font-size: 100%
	margin-bottom: 25.0em
	clear: both;
}

h2 { 
	font-size: 125%;
	margin-bottom: .5em;
	clear: both;
}

nav {
	margin-bottom: 2em;
}
/* the styles for Criteria.html */
#nav_Criteria_Selections ul { 
	list-style: none;
	margin-left: 1.00em;
	margin-bottom: 4.0em; }
#nav_Criteria_Selections ul li { 
	width: 150px;
	margin-bottom: 1.5em;
	border: 2px solid Blue; }
#nav_Criteria_Selections ul li a {
	display: block;
	padding: .5em 0 .5em 2.5em; 
	font-weight: bold;
	color: Blue;
	text-decoration: none;	}
